:root {
  --lightGrey: #e6e6e9;
  --darkGrey: #868686;
  --pink: rgba(175, 47, 47, 0.15);
}
html {
  display: flex;
  justify-content: center;
  height: 100vh;
}
body{
  box-sizing: border-box;
  min-width: 550px;
  font-family: 'Open Sans', sans-serif;
  margin:0;
  padding: 0;
  max-width: 800px;
  background-color: whitesmoke;
}
.content{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 550px;
  height: 100vh;
 }
.header{
  font-size: 100px;
  font-weight: 400;
  text-align: center;
  color: var(--pink);
  margin: 0;
}

.wrapper {
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 25px 50px 0 rgb(0 0 0 / 10%);
  color: var(--lightGrey);
  width: 550px;
}

/* todo */
form {
    width: 550px;
    display: flex;
}

.form-wrapper {
  position: relative;
  border-bottom: 1px solid #ededed;
  background-color: white;
  box-shadow: inset 0 -2px 1px rgb(0 0 0 / 3%);
  padding: 16px 0 14px 0;
}

.arrow-btn{
  position: relative;
  top: 2px;
  width: 45px;
  height: 45px;
  transform: rotate(90deg);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  padding: 0;
  margin: 0;
}
.todo {
  position: relative;
  width: 450px;
  font-size: 24px;
  border: none;
  text-indent: 10px;

}
::placeholder {
  color: #e6e6e9;
  font-style: italic;
}

input:focus{
  outline:none;
}

/* task list  */
.task-list {
  list-style: none;
  width: 550px;
  padding: 0;
  margin: 0;
  color: black;
}
.task-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 550px;
  background-color: white;
  border-bottom: 1px solid #ededed;
  padding: 5px, 10px, 10px, 10px;
}
.task-label {
  position: relative;
  width: 450px;
  word-wrap: break-word;
  padding: 10px 0;
  font-size: 24px;
}
.task-labes-cross {
  text-decoration: line-through;
  color: var(--lightGrey);
  position: relative;
  width: 450px;
  word-wrap: break-word;
  padding: 10px 0;
  font-size: 24px;
}
.delete-task-btn {
  position: relative;
  display: flex;
  font-size: 30px;
  right: 15px;
  color: #cc9a9a;;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  transition: color 0.2s ease-out;
}
.button-nav {
  width: 510px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: white;
  color: var(--darkGrey);
  box-shadow: 0 1px 1px rgb(0 0 0 / 20%), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgb(0 0 0 / 20%), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgb(0 0 0 / 20%);
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
}
.button-nav-left {
  width: 74px;
}
.buttons-list {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  width: 40%;
  margin: 8px;
}
.button-nav li{
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 3px 7px;
  cursor: pointer;
}
.button-nav li:hover{
  border: 1px solid rgba(175, 47, 47, 0.1);
}
.button-nav-clear {
  width: 107px;
}

.button-nav-clear:hover {
  text-decoration: underline;
  cursor: pointer;
}